html{
    background-image: url('../Assets/Overall UI/Generic Felt Mat.jpeg');
    background-size: contain;
    height: 100%;
    color: white;
    font-size: 35pt;
    font-family: 'Impact', sans-serif; /*This is the font for text like the Chip Amount and some of the titles*/
}

input{
    font-family: 'Impact', sans-serif;
}

.btnPrimary{
    background-image: url('../Assets/Overall UI/ButtonUp.png');
    color: #0e0e0e;
    font-family: 'ChunkFive Ex', sans-serif;
    background-size: contain;
    text-align: center;
    user-select: none;
    background-repeat: no-repeat;
}

.btnPrimary:hover{
    cursor: pointer;
    background-image: url("../Assets/Overall UI/ButtonDown.png");
}

.small{
    min-width: 80px;
    max-width: 80px;
    max-height: 25px;
    font-size: 18px;
}

.medium{
    height: 60px;
    min-width: 230px;
    max-width: 230px;
    font-size: 37pt;
}

.large{
    height: 100px;
    min-width: 380px;
    max-width: 380px;
    font-size: 40pt;
}

#imgGameIcon{
    width: 200px;
    height: 113px;
}

.btnBasicChip{
    max-width: 85px;
    max-height: 85px;
}

.disabled{
    cursor: default;
    opacity: .5;
}

@font-face {
    font-family: "ChunkFive Ex";
    src: url("../Assets/Chunkfive Ex.ttf");
    font-weight: normal;
    font-style: normal;
}

#mdlRules{
    display: none;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    grid-row: 1/5;
    grid-column: 1/12;
    width: 100%;
    height: 100%;
}

#mdlRules > ul > li{
    font-size: 18pt;
}