html
{
    background-image: url("./Assets/Overall UI/Generic Felt Mat.jpeg");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#PokerBackground
{
    display: block;
    height: 45%;
    width: 45%;
    margin: 3% auto 0% auto;
}

.btn
{
    background-image: url("./Assets/Overall UI/ButtonUp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-family: 'ChunkFive Ex';
}

#btnContainer
{
    margin-top: 10%;
    width: 100%;
    height: auto;
    padding-right: 80%;
    bottom: 10%;
    left: 10%

}

#pokerIcon
{
    display: block;
    height: 15%;
    width: 15%;
    margin: left 3% auto 0% auto;
}

#btnRules
{
    font-size: 100%;
    padding: auto;
    height: 10%;
    width: 10%;
    margin-left: 8%;
    margin-top: .5%;
    text-align: center;
}

#btnBack
{
    font-size: 250%;
    padding: 1% 2.5% 1% 2.5%;
    margin-left: 4%;
    
}

#btnDeal
{
    font-size: 250%;
    padding: 1% 2.5% 1% 2.5%;
    margin-left: 63%;
}

.chip
{
    background-size: cover;
    height: 85px;
    width: 85px;
    border-radius: 50px;
    margin-left: 60px;
}

#btnChip_1
{
    background-image: url("./Assets/Overall UI/Chip1.png");
}

#btnChip_5
{
    background-image: url("./Assets/Overall UI/Chip5.png");
}

#btnChip_10
{
    background-image: url("./Assets/Overall UI/Chip10.png");
}

#btnChip_20
{
    background-image: url("./Assets/Overall UI/Chip20.png");
}

#btnChip_50
{
    background-image: url("./Assets/Overall UI/Chip50.png");
}

#btnChip_100
{
    background-image: url("./Assets/Overall UI/Chip100.png");
}

#btnChip_1k
{
    background-image: url("./Assets/Overall UI/Chip1000.png");
}

#btnChip_5k
{
    background-image: url("./Assets/Overall UI/Chip5000.png");
}


@font-face {
    font-family: "ChunkFive Ex";
    src: url("./Assets/Chunkfive Ex.ttf");
    font-weight: normal;
    font-style: normal;
}