html {
    width: 100%;
    height: 100%;
    background-image: url('./Assets/Overall UI/Generic Felt Mat.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Impact;
}

.Title {
    color: white;
}

.TitleContainer {
    display: flex;
    justify-content: center;
}

.FirstRow {
    position: sticky;
    top: 20%;
    display: flex;
    justify-content: space-around;
}

.SecondRow {
    position: sticky;
    top: 50%;
    display: flex;
    justify-content: space-around;
}

#Roulette {
    width: 355px;
    height: 200px;
    background-image: url('./Assets/Overall UI/Roulette\ Icon.png');
    background-size: cover;
    border:none;
    cursor: pointer;
}

#Blackjack {
    width: 350px;
    height: 200px;
    background-image: url('./Assets/Overall UI/Blackjack Icon.png');
    background-size: cover;
    opacity: 0.6;
}

#FiveCardPoker {
    width: 360px;
    height: 220px;
    background-image: url('./Assets/Overall UI/Poker Icon.png');
    background-size: cover;
    opacity: 0.6;
}

#Craps {
    width: 350px;
    height: 200px;
    background-image: url('./Assets/Overall UI/Craps\ Icon.png');
    background-size: cover;
    cursor: pointer;
}

#Slots {
    width: 355px;
    height: 220px;
    background-image: url('./Assets/Overall UI/Slot\ Machine\ Icon.png');
    background-size: cover;
    cursor: pointer;
}

.ChipContainer {
    margin-top: 12%;
    position: sticky;
    display: flex;
}

#GolbalChips {
    position: sticky;
    left: 88.5%;
    color: white;
    font-size: 2rem;
}


.Button {
    background-image: url("./Assets/Overall UI/ButtonUp.png");
    background-position: center;
    border-radius: 8px;
    font-family: 'ChunkFive Ex';
}

.Button:hover {
    background-image: url("./Assets/Overall UI/ButtonDown.png");
}

#Exit {
    border: none;
    font-size: 250%;
    padding: 0% 3% 0% 3%;
    margin-left: 4%;
}

#Bank {
    border: none;
    font-size: 250%;
    padding: 0% 2.25% 0% 2.25%;
    margin-left: 20%;
    position: sticky;
    left: 86%;
}

#blackjackComingSoon
{
    left: 40%;
}

#pokerComingSoon
{
    left: 72%;
}

.comingSoonImg
{
    position: absolute;
    width: 20%;
    height: 15%;
    top: 225px;
}

@font-face {
    font-family: "ChunkFive Ex";
    src: url("./Assets/Chunkfive Ex.ttf");
    font-weight: normal;
    font-style: normal;
}